@import "tailwindcss";

@theme {
  /* Cores personalizadas */
  --color-primary: #4444;
  --color-secondary: #10b981;
  --color-danger: #ef4444;

  /* Fontes personalizadas */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
}
